<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <div class="sidenav">
            <ng-container *ngFor="let button of buttons">
                <app-button [button]="button.buttonDefinition" [label]="button.label" [icon]="button.icon"
                    [url]="button.url" (executed)="this.navigate($event)"></app-button>
            </ng-container>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="mainContent">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>