<mat-card>
    <mat-card-header>
        <mat-card-title>Editar Curso</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <ng-container *ngIf="loaded; else loading">
            <form [formGroup]="form" fxLayout="column">
                <mat-form-field>
                    <mat-label for="displayNameInput">Nombre: </mat-label>
                    <input required matInput formControlName="displayName" type="text" id="displayNameInput">
                </mat-form-field>
                <mat-form-field>
                    <mat-label for="profesorSelect">Profesor</mat-label>
                    <mat-select [(value)]="profesorSelected">
                        <ng-container *ngFor="let profesor of listaProfesores$ | async">
                            <mat-option [value]="profesor">
                                {{profesor.firstName}} {{profesor.lastName}}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
                <div fxLayout="row">
                    <ng-container *ngFor="let button of buttons">
                        <app-button [button]="button.buttonDefinition" [label]="button.label"
                            (executed)="button.buttonDefinition.type === 'submit' ? onSubmit() : onCancel()"></app-button>
                    </ng-container>
                </div>
            </form>
        </ng-container>
        <ng-template #loading>
            <mat-progress-spinner class="spinner" color="accent" mode="indeterminate">
            </mat-progress-spinner>
        </ng-template>
    </mat-card-content>
</mat-card>