<ng-container *ngIf="button">
    <ng-container [ngSwitch]="button.kind">
        <button *ngSwitchCase="'basic'" mat-button [disabled]="disabled" [type]="button.type"
            (click)="executed.emit(id)">
            <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
        </button>
        <button *ngSwitchCase="'raised'" mat-raised-button [disabled]="disabled" [type]="button.type"
            (click)="executed.emit(id)">
            <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
        </button>
        <button *ngSwitchCase="'fab'" mat-fab [disabled]="disabled" [type]="button.type" (click)="executed.emit(id)">
            <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
        </button>
    </ng-container>
</ng-container>

<ng-template #buttonContent>
    <mat-icon *ngIf="icon">
        {{icon}}
    </mat-icon>
    <span *ngIf="label">
        {{label}}
    </span>
</ng-template>